<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Full name</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p class="user-profile-text">
        <strong>Description:</strong>
    </p>
        <p class="user-profile-text">
            djsbds
            dsdjbsk
            dsjdbk
        </p>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <i class="fa-solid fa-user-plus"></i>
      </button>
      <button mat-button>
        <mat-icon>message</mat-icon>
        chat with
      </button>
    </mat-card-actions>
  </mat-card>
  